.productdetail-inner{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin: 1rem;
    gap: 10rem;
}
.productdetail-image img{
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.63);
    width: 410px;
    height: 410px;
    transition: .2s ease-in-out;
    padding: 10px;
    border-radius: 20px;
}
.productdetail-image img:hover{
    transform: scale(1.1);
}
.productdetail-details{
    margin-top: 1rem;
}
.productdetail-title p,
.productdetail-desc,
.productdetail-rating,
.productdetail-price{
    font-family: "Rajdhani", sans-serif;
}
.productdetail-desc{
    font-size: 1.5rem;
}
.productdetail-button{
    margin-top: 2rem;
}
.productdetail-price{
    font-size: 1.8rem;
}
.addtocartbutton{
    transition: .2s ease-in-out;
}